<div class="container-fluid">
    <div class="d-flex justify-content-end pb-3">
        <app-modal></app-modal>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr user-list *ngFor="let user of users; let i = index" [index]="i" [user]="user"></tr>
        </tbody>
    </table>
</div>