<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Form User</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="userFg" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username" [ngClass]="showErrorCss('username')" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="showErrorCss('email')" />
            </div>
            <div class="mb-3" *ngIf="user === null">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="showErrorCss('password')" autocomplete="on" />
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" id="role" formControlName="role" [ngClass]="showErrorCss('role')">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
    </form>
</ng-template>

<span (click)="open(content)">
    <ng-content></ng-content>
</span>